.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.btn {
  font-weight: 600;
  line-height: 19px;
  border-radius: 4px;
  padding: 12px 16px;
}
.btn:hover {
  background-color: #30b868;
  color: rgba(255, 255, 255, 1);
}
/* nav section */
nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  align-items: center;
  padding: 16px 120px 16px 120px;
  background: rgba(255, 255, 255, 1);
}
nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
ul li {
  opacity: 0.9;
  font-weight: 500px;
  line-height: 152%;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
ul a {
  text-decoration: none;
}
nav ul li:hover {
  background-color: greenyellow;
  border-radius: 4px;
}
