.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  border: 4px solid royalblue;
}
.btn {
  font-weight: 600;
  line-height: 19px;
  border-radius: 4px;
  padding: 12px 16px;
}
.btn:hover {
  background-color: #30b868;
  color: rgba(255, 255, 255, 1);
}
/* nav section */
nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  align-items: center;
  padding: 16px 120px 16px 120px;
  background: rgba(255, 255, 255, 1);
}
nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
ul li {
  opacity: 0.9;
  font-weight: 500;
  line-height: 152%;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
ul a {
  text-decoration: none;
}
nav ul li:hover {
  background-color: greenyellow;
  border-radius: 4px;
}
/* banner section */
#banner {
  border: 2px solid red;

  background: url("./assets/hero-bg.png");
}
.banner-content {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 70px 120px 134px;
  border: 3px solid yellow;
}
.banner-heading {
  font-style: bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
}
.Structured {
  color: #ffffff;
}
.note-taking {
  color: #30b868;
}
.banner-btn {
  color: rgba(70, 145, 101, 1);
  padding: 8px 12px;
  border-radius: 1000px;
}
.banner-description {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.btn-see {
  padding: 12px 16px;
  background: rgba(70, 145, 101, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}
.banner-btn2 {
  display: flex;
  gap: 16px;
  align-items: center;
}
/* card section */
.card-parent {
  max-width: 1360px;
  margin: 0 auto;
  border: 2px solid goldenrod;
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 44px;
  padding: 120px;
}
.card-container {
  display: flex;
  gap: 24px;
}
.card-title-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}
.card-title {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
}
.card-description {
  color: #627382;
  font-weight: 400;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  text-align: center;
}
.card img {
  background-color: #f95555;
  border-radius: 100%;
  padding: 1.5px 2.49px;
}
.card h2 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.card p {
  color: #001931;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border: 2px solid red;
}
/* second brain container */
.second-brain {
  max-width: 1360px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  padding: 120px;
  border: 2px solid greenyellow;
}
.second-brain-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  border: 2px solid green;
}
.section-level {
  color: #30b868;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  line-height: 20px;
}
.second-brain-title {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  line-height: 58px;
  text-align: left;
  text-transform: capitalize;
}
.second-brain-description {
  color: #627382;
  line-height: 20px;
  text-align: left;
  font-size: 16px;
}
.feature-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.common {
  display: flex;
  align-items: center;
  gap: 6px;
}

.common span {
  color: rgba(0, 25, 49, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
/* call to action section */
.cta-section {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 80px 40px;
  background: rgba(247, 246, 242, 1);
  border: 2px solid red;
}
.cta-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
}
.cta-description {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.cta-note {
  color: #627382;
  line-height: 20px;
  text-align: center;
}
